
header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

a,
a.nav-link.dropdown-toggle {
  text-decoration: none;
  color: black;
}

.nav-text,
a.nav-link.dropdown-toggle {
  padding-left: 40px;
  padding-right: 40px;
}

a:hover,
a.nav-link.dropdown-toggle:hover,
.dropdown-item:hover {
  color: #829787;
}

.dropdown-item:active {
  background-color: #829787;
}

nav {
  background-color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

nav,
.navlinks {
  display: flex;
  justify-content: center;
}

.navlinks {
  padding-top: 5px;
}

.dropdown-toggle {
  padding: 0;
  margin: 0;
}

.sub {
  background-color: #829787;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sub:hover {
  background-color: white;
  outline: 2px solid #829787;
}

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 60px;
  width: 700px;
  height: 500px;
  z-index: -1;
}

main {
  background-color: white;
}

.cards {
  padding-top: 70px;
  padding-bottom: 70px;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.card-img,
.btm-img {
  height: 250px;
  width: 250px;
}

.card-img:hover {
  animation: pulse;
  animation-duration: 2s;
}

.top-img {
  width: 250px;
}

div.row.g-0 {
  width: 1050px;
}

.cb2 {
  text-align: right;
}

footer {
  height: 250px;
  background-color: #e5e4e4;
}

.sm-icons,
.attribution,
.foot-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.icon:hover {
  opacity: 0.6;
}

.copyright {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.sm-text {
  margin: 60px;
}

.foot-rights {
  color: white;
  font-size: 15px;
}

.attribution {
  font-size: 7px;
  color: white;
}

.attr-link {
  color: white;
}
