
header {
  background-image: url(./assets/pexels-sebastian-sorensen_edited.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px;
}

a {
  text-decoration: none;
  color: black;
}

nav,
.navlinks {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.nav-text {
  padding-left: 40px;
  padding-right: 40px;
}

.sub-btn {
  border: 2px solid green;
  background-color: white;
  padding: 5px;
  margin-top: 13px;
}

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
  height: 700px;
}
