
header {
  background-image: url(./assets/pexels-sebastian-sorensen_edited.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(198, 198, 198, 0.3);
  background: rgba(198, 198, 198, 0.2);
  width: 400px;
  height: auto;
}

.header-img:hover {
  background: rgba(198, 198, 198, 1);
}

a,
a.nav-link.dropdown-toggle {
  text-decoration: none;
  color: black;
}

a:hover,
a.nav-link.dropdown-toggle:hover,
.dropdown-item:hover {
  color: #829787;
}

.dropdown-item:active {
  background-color: #829787;
}

nav {
  background-color: white;
  border-bottom: 1px solid black;
}

nav,
.navlinks {
  display: flex;
  justify-content: center;
}

.navlinks {
  padding-top: 5px;
}

.nav-text,
a.nav-link.dropdown-toggle {
  padding-left: 40px;
  padding-right: 40px;
}

.dropdown-toggle {
  padding: 0;
  margin: 0;
}

.sub {
  background-color: #829787;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sub:hover {
  background-color: white;
  outline: 2px solid #829787;
}

.carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 60px;
  width: 700px;
  height: 500px;
  z-index: -1;
}

main {
  background-color: white;
}

.cards {
  padding-top: 70px;
  padding-bottom: 70px;
}

.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  height: 250px;
  width: 250px;
}

footer {
  height: 250px;
  background-color: grey;
}

.sm-icons,
.attribution,
.foot-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.copyright {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.sm-text {
  margin: 60px;
}

.foot-rights {
  color: white;
  font-size: 15px;
}

.attribution {
  font-size: 7px;
  color: white;
}

.attr-link,
.sm-text {
  color: white;
}
